In [1]:
import pandas as pd
import numpy as np
imp

In [2]:
path_measurements = os.path.join("Resources","hawaii_measurements.csv")
path_stations = os.path.join("Resources","hawaii_stations.csv")

In [4]:
df_measurements = pd.read_csv(path_measurements)

In [5]:
df_stations = pd.read_csv(path_stations)

In [6]:
clean_hawaii_measurements = df_measurements.dropna(axis=0, how='any')
clean_hawaii_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
5  USC00519397  2010-01-07  0.06    70

In [7]:
clean_hawaii_stations = df_stations.dropna(axis=0, how='any')
clean_hawaii_stations.head()

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [12]:
output_path_1 = os.path.join("Resources","clean_hawaii_measurements.csv")
clean_hawaii_measurements.to_csv(output_path_1, index=False, header=True)

In [13]:
output_path_2 = os.path.join("Resources","clean_hawaii_stations.csv")
clean_hawaii_stations.to_csv(output_path_2, index=False, header=True)