In [2]:
import pandas as pd
import numpy as np
import os

In [3]:
path_clean_measurements = os.path.join("Resources","clean_hawaii_measurements.csv")
path_clean_stations = os.path.join("Resources","clean_hawaii_stations.csv")

In [4]:
df_measurements = pd.read_csv(path_clean_measurements)
df_measurements.head()

       station        date  prcp  tobs
0  USC00519397  2010-01-01  0.08    65
1  USC00519397  2010-01-02  0.00    63
2  USC00519397  2010-01-03  0.00    74
3  USC00519397  2010-01-04  0.00    76
4  USC00519397  2010-01-07  0.06    70

In [5]:
df_stations = pd.read_csv(path_clean_stations)
df_stations.head(10)

,station,name,latitude,longitude,elevation
0,USC00519397,"WAIKIKI 717.2, HI US",21.27160,-157.81680,3.0
1,USC00513117,"KANEOHE 838.1, HI US",21.42340,-157.80150,14.6
2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.52130,-157.83740,7.0
3,USC00517948,"PEARL CITY, HI US",21.39340,-157.97510,11.9
4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.49920,-158.01110,306.6
5,USC00519523,"WAIMANALO EXPERIMENTAL FARM, HI US",21.33556,-157.71139,19.5
6,USC00519281,"WAIHEE 837.5, HI US",21.45167,-157.84889,32.9
7,USC00511918,"HONOLULU OBSERVATORY 702.2, HI US",21.31520,-157.99920,0.9
8,USC00516128,"MANOA LYON ARBO 785.2, HI US",21.33310,-157.80250,152.4

In [5]:
from sqlalchemy import create_engine
from sqlalchemy import Column, Integer, String, Float

from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()

In [6]:
class Measurement(Base):
    __tablename__ = 'measurement'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    date = Column(String)
    prcp = Column(Float)
    tobs = Column(Integer)

In [7]:
class Station(Base):
    __tablename__ = 'station'
    id = Column(Integer, primary_key=True)
    station = Column(String)
    name = Column(String)
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [8]:
engine = create_engine('sqlite:///Resources/hawaii.sqlite')

In [9]:
Base.metadata.create_all(engine)

In [10]:
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [11]:



# itterow for measurements table

for index,row in df_measurements.iterrows():
    measurement = Measurement(station=row['station'], date=row['date'], prcp=row['prcp'], tobs=row['tobs'])
    session.add(measurement)
    session.commit()

In [14]:
for index,row in df_stations.iterrows():
    station = Station(station=row['station'], name=row['name'], latitude=row['latitude'], longitude=row['longitude'], elevation=row['elevation'])
    session.add(station)
    session.commit()

In [ ]:
# df_stations.to_sql(name='station', con=engine, if_exists = 'append', index=False)

In [ ]:
# df_measurements.to_sql(name='measurement', con=engine, if_exists = 'append', index=False)

In [17]:
# a quary example
station_list = session.query(Station)
for st in station_list:
    print(st.station)

USC00519397
USC00513117
USC00514830
USC00517948
USC00518838
USC00519523
USC00519281
USC00511918
USC00516128

In [19]:
# a quary example
mea_list = session.query(Measurement).limit(5)
for mea in mea_list:
    print(mea.station)

USC00519397
USC00519397
USC00519397
USC00519397
USC00519397